@font-face {
  font-family: 'Comic Sans MS';
  src: url('../Fonts/Comic Sans MS.ttf');
}
@font-face {
  font-family: 'Comic Sans MS Bold';
  src: url('../Fonts/Comic Sans MS Bold.ttf');
}
div.canvas {
  width: 979px;
  height: 551px; 
}
